

<h1>Believe</h1>
<%=User.count=%>



<li><%= link_to "Menu1", menu1_path %></li>



<p>Ephesians 2:8-9...For by grace are ye saved through faith; and that not of yourselves: it is a gift of God: not of works, lest any man should boast.</p> <p>  What can wash away my sins? Nothing but the blood of Jesus.</p>
