<h1>Dred Scott</h1>
<li><%= link_to "Menu1", menu1_path %></li>
<div>_ </div>
<div><%= image_tag('/pic7.JPG', :width => 275, :height => 400, :crop => :fill) %></div>
<div>_ </div>
<div><%= image_tag('/pic8.JPG', :width => 275, :height => 400, :crop => :fill) %></div>
<div>_ </div>
<div>_ </div>
