<h1>Emancipation Proclaimation</h1>



<li><%= link_to "Menu1", menu1_path %></li>


<div><%= image_tag('/pic9.JPG', :width => 400, :height =>350, :crop => :fill) %></div>
<div>_</div>
<div><%= image_tag('/pic10.JPG', :width => 300, :height =>400, :crop => :fill) %></div>
<div>_</div>
<div>_</div>

