<h1>James Armistead</h1>
 <li><%= link_to "Menu1", menu1_path %></li>

<div><%= image_tag('/armistead.JPG', :width => 300, :height => 275, :crop => :fill) %></div>





<h5>In the autumn of 1781, the Continentaal Army fought in the Battle of Yorktown, the final and  most important battle for American independence from England.</h5>
<h5> This great victory, which forced the surrender of British General Lord Cornwallis and his squadron of nearly 9,000 troops, would not have been possible without crucial insider intelligence from James Armistead, a black patriot who worked effectively as a double agent for the Continental Army throughout the Revolutionary War.</h5>
