<h1>Prince Whipple and Oliver Cromwell</h1>

<li><%= link_to "Menu1", menu1_path %></li>

<div><%= image_tag('/pic2.JPG', :width => 475, :height => 400, :crop => :fill) %></div>
<h5>In the famous picture of the 1776 crossing of the Delaware on Christmas night, two men at the front of the boat include Prince Whipple and Oliver Cromwell- two black patriots who served with George Washington and other American generals during the Revolution.</h5>
<div>.</div>
<div><%= image_tag('/pic2.2.JPG', :width => 600, :height => 400, :crop => :fill) %></div>
<div>.</div>
<div>.</div>
<div>.</div>
<div>.</div>
